<%= form_with(url: "/menus/#{@menu.id}", method: "put",local:true) do %>
  <div class="edit_line_row">
    <%= text_field_tag(
        name="name",
        value="#{@menu.name}",
        class: "edit_name_price",
        size: "15",
        )
    %>
    <input type="submit" class="update_button" value="Update item">
  </div>
<% end %>
