<div class="main_content">
  <div class="about_us_background">
    <h1 class="about_us_title">About Us</h1>
    <div class="about_us">
      <p class="about_us_content">
        Cafeteria, a part of Serving Food Global Limited, is India’s favourite hangout for
        serving delicious dishes at resonable prices.We strive to provide the best experience to our guests.
        Our dishes are sourced from thousands of small augriculture farmers for obtaining the nature's flavor,
        who made us who we are today and we're glad to be a part of their lives.
      </p>
      <p class="about_us_content">
        We opened our first cafeteria in 2020 at Junction Road in Chittoor – the youth and the young at heart
        immediately took to the cafeteria,and it continues to be one of the most happening places in the city.
        Cafeteria to the youth is a “hangout” spot where they meet people, make conversations, and have a whole
        lot of fun over steaming table full of great dishes of food.It's been an exciting journey since then to
        becoming the largest organised retail cafeteria chain in the country.
      </p>
    </div>
  </div>
</div>
