<div class="main_content">
    <section class="Home_page_menu">
        <br>
        <h1 class="heading"><%= link_to "Welcome To Our Restaurant!", about_us_path,class: "heading_content" %></h1>
        <p class="content"> <img src="content.png"></p>
    </section>
</div>
